.container12 {
    background-color: #c8ccd2;
    padding: 2rem;
    border-radius: 10px;
  }
  
  .heads {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .para {
    font-size: 1.2rem;
    color: #6c757d;
  }
  